:root{
    --azul-gradiente-text: linear-gradient(180deg, #00DDFF, #1A22EB);
    --azul-gradiente-bootom: linear-gradient(90deg, #00DDFF, #1A22EB);
    --bgservices: linear-gradient(to top, #012, #346);
    --aliceblue: #F0F8FF;
    --azul-claro-oscuro: #334565;
    --azul-oscuro: #00022E;
    --azul-claro: #0AF;
    --verde-claro: #1AAE67;
    --blanco: #FFF;
    --negro: #000;
    --azul: #00F;
    --gris-claro: #FFF5;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.container h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.options {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown-options.active {
    display: block;
}
.option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.option:hover {
    background-color: #f0f0f0;
}
.selected-options {
    margin-top: 5px;
}
.selected-option {
    display: inline-block;
    margin: 5px;
    margin-left: 0;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}
.selected-option .close-btn {
    margin-left: 5px;
    cursor: pointer;
}


#capture-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 7px;
    border-radius: 5px;
    background: #00DDFF;
}

#capture-btn img{
    height: 30px;
}
#diagnose-btn {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
    padding: 8px 20px;
    color: var(--blanco);
    font-size: 20px;
    background: var(--verde-claro);
}